{% extends 'base.html' %}
{% block conteudo %}
<body>
    <h1 style="text-align: center;">Lista de Filmes</h1>
<hr>
<h2>Filmes</h2>
<div class="row">
    {% for filme in filmes %}
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://image.tmdb.org/t/p/w500{{filme.backdrop_path}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{filme.title}}</h5>
            <p class="card-text">{{filme.overview}}</p>
            <hr>
            <h5>Nota Média <span class="badge bg-secondary">{{filme.vote_average}}</span></h5>    
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>
{% endblock conteudo %}